body {
    margin: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

/*section-one start */

.section-one p {
    font-weight: 120;
    padding-bottom: 20px;
}

.section-one {
    background-image: url(images/donation9.jpg);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    padding-top: 100px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    color: whitesmoke; 

}

.button {
    background-color: tomato;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 3px;
    font-size: 20px;


}

/*section-one end */


/*section-two start */
.section-two {
    text-align: center;

}

.section-two p {
    color:black;
    font-size: 20px;
}

.container {
    display: flex;
    margin-right: 90px;
    margin-left: 90px;
}

.width {
    width: 20%;
    background-color: #F7F9F9;
    text-align: center;
    margin: 6px 12px;
    color:#85C1E9;
    margin-top: 50px;
    margin-left: 80px;
    margin-bottom: 30px;
}

#color{
    border:orangered 3px;
    color: rgb(255, 94, 0);
}


.section-four {
    text-align: center;
    font-size: 20px;

}

.title p {
    font-size: 20px;
    color: #7e7777;
    margin-bottom: 100px;

}


.box {
    width: 26%;
}

.donation {
    display: flex;
    margin: 40px 80px;
    margin-left: 200px;
    margin-bottom: 100px;

}

.donation p {
    color: #7e7777;
    font-size: 20px;
}

#one {
    background-color: #F6DDCC;
    margin: 5px 10px;
    padding: 60px 30px;
    text-align: left;
    border-radius: 5px;
}

#two {
    background-color: #D0ECE7;
    margin: 5px 10px;
    padding: 60px 30px;
    text-align: left;
    border-radius: 5px;
}

#three {
    background-color: #F9E79F;
    margin: 5px 10px;
    padding: 60px 30px;
    text-align: left;
    border-radius: 5px;
    
}

.sub{
    display: flex;
}

.ses{
    background-color: whitesmoke;
    position: center; 
    color: orange;
    
    ;
}
.last-part {
    text-align: center;
    color: white;
    background-color: rgb(144, 144, 208);
    padding: 20px;
    font-size: 15px;
}

.last-part h3 {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
}